a{
    align-items: end;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:cadetblue;
    font-family:'Times New Roman';
    color: aliceblue;
}
.options{
    display: flex;
    justify-content: flex-end;
}
a{
    margin: 15px;
}
